<h1> Create New Article </h1>

<%= form_with model: @article, data: { turbo: false } do | form | %>

    <h1> errors: <%= @article.errors.any?  %> </h1>
    
    <% if @article.errors.any? %>
        <h2> boom </h2>
    <% end %>
    <div class="form-group mb-3">
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group mb-3">
        <%= form.label :body, class: "form-label" %>
        <%= form.text_area :body, class: "form-control", size: "60x10" %>
    </div>
    <%= form.submit class: "btn btn-primary" %>
<% end %>

<%# render partial: "layouts/form" %>
