<div class="card">
    <h2 class="card-header">
        <%= @article.title %>
    </h2>
    <div class="card-footer">
        <span>
          <%= link_to "Edit", edit_article_path( @article ), 
                              class: "btn btn-outline-primary" %>
        </span>
        <%= link_to "Delete", article_path( @article ), 
                    data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?",
                    }, 
                    class: "btn btn-danger" %>
    </div>
    <div class="card-body">
        <div class="card-text">
            <%= simple_format( @article.body ) %>
        </div>
        <br>
        <div class="card text-bg-secondary mt-2 mb-2">
            <h5 class="card-header text-bg-dark"> Comments </h5>
            <div class="card-body">
                <% ( @article.comments.count ).times do |j| %>
                    <% cmt = @article.comments[ j ] %> 
                    <div class="container">
                        <span class="badge text-bg-primary">
                            <%= cmt.commenter %>
                        </span>
                        <span class="fst-italic">
                            <%= cmt.body %>
                        </span>
                        <% if j < @article.comments.count - 1 %>
                          <hr>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
        
        <h2> <span class="badge text-bg-info"> new </span>
             <span class="fst-italic"> comment </span> </h2>
        <%= form_with model: [ @article, @comment ], 
                      data: { turbo: false } do |form| %>
            <%# display save errors if any %>
            <% @comment.errors.full_messages().each do | msg | %>
                <div class="alert alert-info"> <%= msg %> </div>
            <% end %>
            <div class="form-group mb-3">
                <%= form.label :commenter, class: "form-label" %>
                <%= form.text_field :commenter, class: "form-control" %>
            </div>
            <div class="form-group mb-3">
                <%= form.label :body, class: "form-label" %>
                <%= form.text_area :body, class: "form-control", 
                                          size: "60x10" %>
            </div>
            <%= form.submit class: "btn btn-primary" %>
        <% end %>

    </div>
</div>
