<div class="card">
    <h2 class="card-header">
        <%= @article.title %>
    </h2>
    <div class="card-body">
        <div class="card-text">
            <%= @article.body %>
        </div>
        
        <% @article.comments.each do |cmt| %>
            <%= cmt.commenter %>
            <%= cmt.body %>
        <% end %>

        <%= form_with model: [ @article, @comment ], data: { turbo: false } do |form| %>
            <p>
                <%= form.label :commenter %>
                <%= form.text_field :commenter %>
            </p>
            <p>
                <%= form.label :body %>
                <%= form.text_area :body %>
            </p>
            <p>
                <%= form.submit %>
            </p>
        <% end %>

    </div>
    <div class="card-footer">
        <span>
            <%= link_to "Edit", edit_article_path( @article ), class: "btn btn-outline-primary" %>
        </span>
        <%= link_to "Delete", article_path( @article ), 
                    data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?",
                    }, 
                    class: "btn btn-danger" %>
    </div>
</div>