<%= form_with model: @article do | form | %>
    <% if @article.errors.any? %>
        <h2> boom </h2>
    <% end %>
    <div class="form-group mb-3">
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title, class: "form-control" %>
        <% @article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
    </div>
    <div class="form-group mb-3">
        <%= form.label :body, class: "form-label" %>
        <%= form.text_area :body, class: "form-control", size: "60x10" %>
    </div>
    <%= form.submit class: "btn btn-primary" %>
<% end %>