<%= form_with model: @article do | form | %>
    <div class="form-group mb-3">
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group mb-3">
        <%= form.label :body, class: "form-label" %>
        <%= form.text_area :body, class: "form-control", size: "60x10" %>
    </div>
    <%= form.submit class: "btn btn-primary" %>
<% end %>